<!DOCTYPE html>
<html>
  <head>
  <link
    href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
    rel="stylesheet"
    />
  <link
    href="https://cdn.jsdelivr.net/npm/vuetify@3.0.5/dist/vuetify.min.css"
    rel="stylesheet"
    />
    <style>
        #map{
            background-color: grey;
            height:calc(100vh - 68px);
            width:100vw;
        }
    </style>
</head>
  <body>
    <div id="app"></div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.0.5/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.css" rel="stylesheet" />


    <script type="text/x-template" id="app-template">
      <v-app>
        <v-app-bar
        color="white"
        app
      >
      <!-- density="compact" -->
        <template v-slot:prepend>
          <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>
        </template>

        <v-app-bar-title>TheMap.io</v-app-bar-title>

        <template v-slot:append>
          <v-btn icon="mdi-dots-vertical"></v-btn>
        </template>
      </v-app-bar>


      <v-navigation-drawer
      app
      v-model="drawer"
      location="left"
      width="350"
    >

      <p class="text-body-1" style="padding:8px;">Please click a circle to view the property's data.</p>
      <v-table  app>
        <thead>
          <tr>
            <th class="text-left">
              Property
            </th>
            <th class="text-left">
              Value
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="property in Object.keys(selectedFeature)"
            :key="property"
          >
            <td>{{ property }}</td>
            <td>{{ selectedFeature[property] }}</td>
          </tr>
        </tbody>
      </v-table>




    </v-navigation-drawer>


    <v-main>
        <div id="map"></div>
    </v-main>



      </v-app>
    </script>
    <script>
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;
      
      const vuetify = createVuetify();
      
      const app = createApp({
        template: "#app-template", 
        data() {
            return {
                drawer: true,
                items: [
                    { title: 'Home', icon: 'mdi-home' },
                    { title: 'About', icon: 'mdi-account' },
                    { title: 'Contact', icon: 'mdi-phone' },
                ],
                selectedFeature:{},
                clicked:false,

            }
        },
        mounted() {
            let map = new maplibregl.Map({
              container: 'map', // container id
              style: 'https://api.maptiler.com/maps/basic-v2/style.json?key=DwcfsJ1RjlzcCtF1vt2s', // style URL
              center: [-96.8, 32.8], // starting position [lng, lat]
              zoom: 10 // starting zoom
            });

            let hoveredStateId = null;

            map.on('load', function () {
              
              map.addSource('dallas', {
                type: 'geojson',
                data: 'https://themapstorage.blob.core.windows.net/datastore/layers/Dallas_noaf.geojson'
              });

              map.addLayer({
                  'id': 'dallas',
                  'type': 'circle',
                  'source': 'dallas',
                  'layout': {},
                  'paint': {
                      'circle-color': 'maroon',
                      'circle-radius': 5,
                      'circle-stroke-width': 1,
                      'circle-stroke-color': 'white',
                      'circle-opacity': 0.8
                  }
              });
            });
              
              map.on('click', 'dallas', function(e){
                  // new maplibregl.Popup()
                  //     .setLngLat(e.lngLat)
                  //     .setHTML(e.features[0].properties.name)
                  //     .addTo(map);
                  //     const coordinates = e.features[0].geometry.coordinates.slice();
                      this.selectedFeature = e.features[0].properties;
                      this.clicked=true;
                      console.log("clicked");
                      console.log( this.selectedFeature);
                      console.log(Object.keys(this.selectedFeature));
                      console.log(this.clicked);
 
              }.bind(this));

              map.on('mouseenter', 'dallas', () => {
                  map.getCanvas().style.cursor = 'pointer';
              });

              // Change it back to a pointer when it leaves.
              map.on('mouseleave', 'dallas', () => {
                  map.getCanvas().style.cursor = '';
              });
           
        },
        methods: {
            onMapClick(e){
                console.log(e);
            }
        },
      })
        .use(vuetify)
        .mount("#app");
    </script>
  </body>
</html>